

header {
    background-color: var(--color-background);
    border-bottom: 1px solid #ddd;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    flex: 1;
    padding: 20px 80px;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-primary);
}

.nav-area {
    display: flex;
    align-items: center;
    gap: 30px;
}

.search-bar form {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-secondary);
    border-radius: 4px;
    overflow: hidden;
}

.search-bar input[type="search"] {
    border: none;
    padding: 8px 15px;
    outline: none;
    width: 250px;
}

.search-bar button {
    background-color: transparent;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    color: var(--color-secondary);
}

.nav-links.user-profile {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 0.9em;
}

.nav-links.user-profile strong {
    color: var(--color-primary);
}



footer {
    color: var(--color-primary);

    padding: 15px 80px;
    text-align: center;
    margin-top: auto;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85em;
}

.footer-links a {
    color: var(--color-primary);
    margin: 0 10px;
    text-decoration: none;
}