/* Seleciona o elemento raiz e o corpo do documento */
html, body {
    margin: 0;
    padding: 0;
    /* É boa prática também definir a altura a 100% para evitar problemas de altura */
    height: 100%;
}
/* removemos assim qualquer margemou padding já existentes */


.nav{
    width: 95vw;
    margin: 3vh 2vw 3vh 2vw;
    background-color:pink;
}
