html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    /* ADICIONADO: necessário para empurrar o footer para o fundo */
    display: flex;
    flex-direction: column;
}

main {
    /* ADICIONADO: isto empurra o footer para baixo */
    flex: 1;
}

/* FOOTER */

.footer_container{
    width: 100%;
    margin-top: auto; /* ADICIONADO: cola o footer ao fundo */
}

.footer_content{
    display:flex;
    align-items:center;
    justify-content:center;
    padding-top:2vw;
}

.footer_menu{
    display:flex;
    list-style:none;
}

.footer_menu li a{
    text-decoration: none;
    color:black;
    font-family:"futura-pt", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:1em;
    margin-right:3vw;
    margin-left:3vw;
}

.instagram-logo-link{
    margin-right:0.5vw;
    margin-left:3vw;
}

.instagram-logo-link img{
    width: 50px;
    height: 50px;
}

.facebook-logo-link{
    margin-right:0.5vw;
}

.facebook-logo-link img{
    width: 25px;
    height: 25px;
}

.x-logo-link{
    width: 35px;
    height: 35px;
    margin-left:0.25vw;
}

.x-logo-link img{
    width: 35px;
    height: 35px;
}

.footer_menu li a:hover{
    color:#78400f;
}
